SECRET_KEY=*5yq34^6+lpnakna_jq(i()dsy7g$znywwwv+n-xyw53v*z1qa
DEBUG=True
ALLOWED_HOSTS=127.0.0.1

# database credentials

DB_ENGINE=django.db.backends.postgresql
DB_NAME=polling_db
DB_USER=polling_user
DB_PASSWORD=securepassword
DB_HOST=localhost
DB_PORT=5432

#TEMPLATE_DEBUG=True



